<% if data[:items].blank? %>
  <p class="tiler-muted">No comments yet.</p>
<% else %>
  <% container_id = "tiler-comments-#{panel.id}" %>
  <div id="<%= container_id %>"
       class="tiler-comments"
       data-tiler-rotate-interval="<%= data[:rotate_seconds] %>"
       data-controller="tiler--comments-rotator"
       data-tiler--comments-rotator-interval-value="<%= data[:rotate_seconds] %>">
    <% data[:items].each_with_index do |item, idx| %>
      <div class="tiler-comment <%= 'tiler-comment-active' if idx.zero? %>"
           data-tiler--comments-rotator-target="item">
        <% if item[:avatar].present? %>
          <img class="tiler-comment-avatar"
               src="<%= item[:avatar] %>"
               alt=""
               loading="lazy"
               referrerpolicy="no-referrer">
        <% end %>
        <blockquote class="tiler-comment-quote"><%= item[:quote] %></blockquote>
        <% if item[:name].present? %>
          <p class="tiler-comment-name"><%= item[:name] %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
